/.env
/.python-version
/code.log
/cookies.pkl
/cookies_python.py
/selenium
/__pycache__
/~
/lorcana/.env
/lorcana/2.py
/lorcana/test.py
/lorcana/__pycache__
/lorcana/lorcana.py
/lorcana.log
/twitter.py